@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --yellow:#fed330;
   --red:#e74c3c;
   --black:#212121
   --primary-color:#fff;
   --secondary-color:#212121;
   --light-color:#777;
   --border:.2rem solid var(--secondary-color);
}
.light-theme{   
   --yellow:#fed330;
   --red:#e74c3c;
   --black:#212121
   --primary-color:#fff;
   --secondary-color:#212121;
   --light-color:#777;
   --border:.2rem solid var(--secondary-color);
}

.dark-theme{
    background-color: #333;
   --yellow:#fed330;
   --red:#e74c3c;
   --black:#212121
   --primary-color:#212121;
   --secondary-color:#fff;
   --light-color:#777;
   --border:.2rem solid var(--secondary-color);
}

body{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s, color 0.3s;
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: var(--red);
   color:var(--secondary-color);
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--red);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   stop-opacity: 7rem;
}

section{
   margin:0 auto;
   max-width: 1200px;
   padding:2rem;
}

.title{
   text-align: center;
   margin-bottom: 2.5rem;
   font-size: 4rem;
   color:var(--secondary-color);
   text-transform: uppercase;
   text-decoration: underline;
   text-underline-offset: 1rem;
}

.heading{
   display: flex;
   align-items: center;
   justify-content: center;
   gap:1rem;
   flex-flow: column;
   background-color: var(--secondary-color);
   min-height: 20rem;
}
   
.heading h3{
   font-size: 5rem;
   color:var(--primary-color);
   text-transform: capitalize;
}

.heading p{
   font-size: 2.3rem;
   color:var(--light-color);
}

.heading p a{
   color:var(--red);
}

.heading p a:hover{
   text-decoration: underline;
   color:var(--primary-color);
}

.btn,
.delete-btn{
   margin-top: 1rem;
   display: inline-block;
   font-size: 2rem;
   padding:1rem 3rem;
   cursor: pointer;
   text-transform: capitalize;
   transition: .2s linear;
}

.btn{
   background-color: var(--red);
   color:var(--secondary-color);
}

.delete-btn{
   background-color: var(--red);
   color:var(--primary-color);
}

.btn:hover,
.delete-btn:hover{
   letter-spacing: .2rem;
}

.disabled{
   opacity: .5;
   user-select: none;
   pointer-events: none;
}

.message{
   position: sticky;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
   background-color: var(--red);
}

.message span{
   font-size: 2rem;
   color:var(--secondary-color);
}

.message i{
   font-size: 2.5rem;
   color:var(--red);
   cursor: pointer;
}

.message i:hover{
   color:var(--secondary-color);
}

.empty{
   border:var(--border);
   padding:1.5rem;
   text-align: center;
   width: 100%;
   font-size: 2rem;
   text-transform: capitalize;
   color:var(--red);
}

.flex-btn{
   display: flex;
   gap:1rem;
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--primary-color);
   border-bottom: var(--border);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--secondary-color);
}

.header .flex .navbar a{
   font-size: 2rem;
   color:var(--secondary-color);
   margin:0 1rem;
}

.header .flex .navbar a:hover{
   color:var(--red);
   text-decoration: underline;
}

.header .flex .icons > *{
   margin-left: 1.5rem;
   font-size: 2.5rem;
   color:var(--secondary-color);
   cursor: pointer;
}

.header .flex .icons > *:hover{
   color: var(--red);
}

.header .flex .icons span{
   font-size: 2rem;
}

#menu-btn{
   display: none;
}


.search-form form{
   display: flex;
   gap:1.3rem;
}

.search-form form .box{
   width: 100%;
   border:var(--border);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
}

.search-form form .fa-search{
   width: 6rem;
   background-color: var(--secondary-color);
   color:var(--primary-color);
   cursor: pointer;
   font-size: 2.5rem;
}

.search-form form .fa-search:hover{
   background-color: var(--yellow);
   color:var(--secondary-color);
}

.form-container form{
   border:var(--border);
   margin:0 auto;
   max-width: 50rem;
   padding:2rem;
   text-align: center;
}

.form-container form h3{
   font-size: 2.5rem;
   color:var(--secondary-color);
   text-transform: uppercase;
   margin-bottom: 1rem;
}

.form-container form .box{
   margin:.7rem 0;
   width: 100%;
   border:var(--border);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--secondary-color);
}

.form-container form p{
   margin-top: 1.5rem;
   font-size: 2rem;
   color:var(--light-color);
}

.form-container form p a{
   color:var(--secondary-color);
}

.form-container form p a:hover{
   text-decoration: underline;
}

.input-toggle {
   width: 0;
   height: 0;
   visibility: hidden;
}

.toggle-label {
   width: 140px;
   height: 60px;
   position: relative;
   display: block;
   border-radius: 100px;
   box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
   cursor: pointer;
   transition: 0.3s;
}

.toggle-label ion-icon {
  position: absolute;
  width: 40px;
  top: 20px;
  transition: 0.3s;
  z-index: 100;
}

.toggle-label ion-icon.sun {
  left: 10px;
  fill: #fff;
}

.toggle-label ion-icon.moon {
  left: 90px;
  fill: #7e7e7e;
}

.toggle-label:after {
   content:"";
   width: 40px;
   height: 40px;
   position: absolute;
   top: 10px;
   left: 10px;
   background: linear-gradient(180deg,#ffcc89,#d8860b);
   border-radius: 100px;
   box-shadow: inset 0px 5px 15px rgba(0,0,0,0.2);
   transition: 0.3s;
}

.input-toggle:checked + .toggle-label  {
   background: #242424;
}

.input-toggle:checked + .toggle-label:after {
   left: 50px;
   transform: translateX(100%);
   background: linear-gradient(180deg,#777,#3a3a3a);
}

.toggle-label:active:after {
   width: 30px;   
}

.input-toggle:checked + .toggle-label ion-icon.sun  {
   fill: #7e7e7e;
}

.input-toggle:checked + .toggle-label ion-icon.moon  {
   fill: #fff;
}

.wrapper{
   max-width: 1200px;
   padding: 0 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   position:relative;
}
.wrapper i {
  background: #fff;
  height: 46px;
  width: 46px;
  top: 50%;
  position: absolute;
  cursor: pointer;
  font-size: 24px; /* Adjust the font size */
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure the arrows are above the images */
}

.wrapper i:first-child{
   left:-13px;
}

.wrapper i:last-child{
   right:-46px;
}

.wrapper i.fa-angle-left {
  left: 10px; /* Adjust the position */
}

.wrapper i.fa-angle-right {
  right: 10px; /* Adjust the position */
}

/* Add this rule to make the arrows visible */
.wrapper i:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.wrapper .carousel {
   white-space: nowrap;
   font-size: 0px;
   cursor:pointer;
   overflow:hidden;
}   
 .carousel img{
    height: 340px;
    object-fit: cover;
    margin-left:14px;
    width: calc(100% / 3);
 }
.carousel img:first-child{
   margin-left:0px;
}

iframe {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width:900px)
{
   .carousel img{
    width: calc(100% / 2);
}
   
@media screen and (max-width:550px)
{
   .carousel img{
    width: 100%;
}
